<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.H.dao.EmployeeDao">
	<select id="selectEmployeeByIds" resultType="employee">
		select eid,ename,phone,info,eg_id
		from employee
		where eg_id in
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>
	<delete id="deleteByEid">
		delete from employee
		where eid = #{egid}
	</delete>
	<select id="countEmployee" resultType="int">
		select count(*) from employee
	</select>
	<delete id="deleteEmployeeByEgIds">
		delete from employee
		where eg_id in 
		<foreach item="item" index="index" collection="array" open="("
			separator="," close=")">
			#{item} 
		</foreach>
	</delete>
	<insert id="insertEmployee">
		insert ignore into employee(ename,phone,info,eg_id) values (#{ename},#{phone},#{info},#{egId})
	</insert>
</mapper>